<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Mostpopular>
            <version>1.0.0</version>
        </Magazento_Mostpopular>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mostpopular>
                    <file>magazento_mostpopular.xml</file>
                </mostpopular>
            </updates>
        </layout>
<!--        <translate>
            <modules>
                <Magazento_Mostpopular>
                    <files>
                        <default>Magazento_Mostpopular.csv</default>
                    </files>
                </Magazento_Mostpopular>
            </modules>
        </translate>-->
    </frontend>
    
    <global>
        <models>
            <mostpopular>
                <class>Magazento_Mostpopular_Model</class>
                <resourceModel>mostpopular_mysql4</resourceModel>
            </mostpopular>
            <mostpopular_mysql4>
                <class>Magazento_Mostpopular_Model_Mysql4</class>
                <entities>
                    <slide>
                        <table>magazento_mostpopular_slide</table>
                    </slide>
                    <slide_category>
                        <table>magazento_mostpopular_slide_category</table>
                    </slide_category>
                    <category>
                        <table>magazento_mostpopular_category</table>
                    </category>
                    <category_store>
                        <table>magazento_mostpopular_category_store</table>
                    </category_store>
                </entities>
            </mostpopular_mysql4>
        </models>
        <resources>
            <mostpopular_setup>
                <setup>
                    <module>Magazento_Mostpopular</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostpopular_setup>
            <mostpopular_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mostpopular_write>
            <mostpopular_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mostpopular_read>
        </resources>
        <blocks>
            <mostpopular>
                <class>Magazento_Mostpopular_Block</class>
            </mostpopular>
        </blocks>
        <helpers>
            <mostpopular>
                <class>Magazento_Mostpopular_Helper</class>
            </mostpopular>
        </helpers>
    </global>
    <admin>
        <routers>
            <magazento_mostpopular>
                <use>admin</use>
                <args>
                    <module>Magazento_Mostpopular</module>
                    <frontName>mostpopular</frontName>
                </args>
            </magazento_mostpopular>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mostpopular translate="title" module="mostpopular">
                                            <title>Mostpopular</title>
                                        </mostpopular>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <magazento translate="title" module="mostpopular">
                <title>Magazento</title>
                <sort_order>65</sort_order>
                <children>
                    <mostpopular translate="title" module="mostpopular">
                        <title>Mostpopular</title>
                        <sort_order>65</sort_order>
                        <children>
                            <settings translate="title" module="mostpopular">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/mostpopular</action>
                                <sort_order>40</sort_order>
                            </settings>
                        </children>
                    </mostpopular>
                </children>
            </magazento>
        </menu>
    </adminhtml>
    <default>
        <mostpopular>
            <options>
                <enable>1</enable>
                <blocktitle>MOSTPOPULAR</blocktitle>
                <noproducttext> We have zero products now</noproducttext>
                <salable>1</salable>
            </options>
            <homepageoptions>
                <homecount>10</homecount>
                <homedays>365</homedays>
                <homecat>0</homecat>
                <homesidebarleft>1</homesidebarleft>
                <homesidebarright>2</homesidebarright>
                <homeactions>1</homeactions>
                <homeprice>1</homeprice>
            </homepageoptions>
            <catpageoptions>
                <catcount>5</catcount>
                <catdays>365</catdays>
                <catsidebarleft>1</catsidebarleft>
                <catsidebarright>2</catsidebarright>
                <catactions>1</catactions>
                <catprice>1</catprice>
            </catpageoptions>
        </mostpopular>
    </default>
</config>