<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <All4coding_Facebook>
            <version>1.0.1</version>
        </All4coding_Facebook>
    </modules>
    <global>
        <helpers>
            <all4coding_facebook>
                <class>All4coding_Facebook_Helper</class>
            </all4coding_facebook>
        </helpers>
        <models>
            <all4coding_facebook>
                <class>All4coding_Facebook_Model</class>
            </all4coding_facebook>
        </models>
        <blocks>
            <all4coding_facebook>
                <class>All4coding_Facebook_Block</class>
            </all4coding_facebook>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <all4coding_facebook module="All4coding_Facebook">
                    <file>all4coding/facebook.xml</file>
                </all4coding_facebook>
            </updates>
        </layout>
        <translate>
            <modules>
                <All4coding_Facebook>
                    <files>
                        <default>All4coding_Facebook.csv</default>
                    </files>
                </All4coding_Facebook>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <All4coding_Facebook>
                    <files>
                        <default>All4coding_Facebook_Admin.csv</default>
                    </files>
                </All4coding_Facebook>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <a4c_facebook>
            <general>
                <enabled>1</enabled>
                <appid>132227405718</appid>
                <fb_page_url><![CDATA[https://www.facebook.com/all4coding]]></fb_page_url>
                <locale>auto</locale>
            </general>
            <likebutton>
                <homecontent>0</homecontent>
                <pagecontent>0</pagecontent>
                <categorycontent>0</categorycontent>
                <productcontent>0</productcontent>
                <send>1</send>
                <layout>standart</layout>
                <width>450</width>
                <showfaces>0</showfaces>
                <verb>like</verb>
                <colorscheme>light</colorscheme>
                <type>product</type>
            </likebutton>
            <sendbutton>
                <homecontent>0</homecontent>
                <pagecontent>0</pagecontent>
                <categorycontent>0</categorycontent>
                <productcontent>0</productcontent>
                <colorscheme>light</colorscheme>
            </sendbutton>
            <comments>
                <productcontent>0</productcontent>
                <num_posts>2</num_posts>
                <width>600</width>
                <colorscheme>light</colorscheme>
            </comments>
            <activity>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftpagecolumn>0</leftpagecolumn>
                <rightpagecolumn>0</rightpagecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>195</width>
                <height>200</height>
                <header>1</header>
                <colorscheme>light</colorscheme>
                <linktarget>_blank</linktarget>
                <recommendations>0</recommendations>
            </activity>
            <recommendations>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftpagecolumn>0</leftpagecolumn>
                <rightpagecolumn>0</rightpagecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>195</width>
                <height>200</height>
                <header>1</header>
                <colorscheme>light</colorscheme>
                <linktarget>_blank</linktarget>
            </recommendations>
            <likebox>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftpagecolumn>0</leftpagecolumn>
                <rightpagecolumn>0</rightpagecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>195</width>
                <colorscheme>light</colorscheme>
                <show_faces>1</show_faces>
                <stream>1</stream>
                <header>1</header>
            </likebox>
            <facepile>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftpagecolumn>0</leftpagecolumn>
                <rightpagecolumn>0</rightpagecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <url>currentpage</url>
                <size>large</size>
                <width>195</width>
                <max_rows>10</max_rows>
                <colorscheme>light</colorscheme>
            </facepile>
            <livestream>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftpagecolumn>0</leftpagecolumn>
                <rightpagecolumn>0</rightpagecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>195</width>
                <height>300</height>
                <xid></xid>
                <always_post_to_friends>0</always_post_to_friends>
            </livestream>
        </a4c_facebook>
    </default>
</config>