<?xml version="1.0"?>

<config>
    <modules>
        <Magazento_Facebook>
            <version>1.1.2</version>
        </Magazento_Facebook>
    </modules>
    <frontend>
        <layout>
            <updates>
                <facebook>
                    <file>magazento_facebook.xml</file>
                </facebook>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <facebook>
                <class>Magazento_Facebook_Block</class>
            </facebook>
        </blocks>	
        <helpers>
            <facebook>
                <class>Magazento_Facebook_Helper</class>
            </facebook>
        </helpers>
        <resources>
            <facebook_setup>
                <setup>
                    <module>Magazento_Facebook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebook_setup>
            <facebook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </facebook_write>
            <facebook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </facebook_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facebook translate="title" module="facebook">
                                            <title>facebook</title>
                                        </facebook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <magazento translate="title" module="facebook">
                <title>Magazento</title>
                <sort_order>65</sort_order>
                <children>
                    <facebook translate="title" module="facebook">
                        <title>Facebook</title>
                        <sort_order>65</sort_order>
                        <children>
                            <settings translate="title" module="facebook">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/facebook</action>
                                <sort_order>40</sort_order>
                            </settings>
                        </children>
                    </facebook>
                </children>
            </magazento>
        </menu>
    </adminhtml>
    <default>
        <facebook>
            <general>
                <enabled>1</enabled>
                <appid>226060960750812</appid>
                <fb_page_url><![CDATA[ http://www.facebook.com/pages/Magazento/165471806852204 ]]></fb_page_url>
                <locale>auto</locale>
            </general>
            <likebutton>
                <homecontent>0</homecontent>
                <categorycontent>0</categorycontent>
                <productcontent>0</productcontent>
                <send>1</send>
                <layout>standart</layout>
                <showfaces>0</showfaces>
                <width>450</width>
                <verb>like</verb>
                <color>light</color>
                <type>product</type>
            </likebutton>
            <sendbutton>
                <homecontent>0</homecontent>
                <categorycontent>0</categorycontent>
                <productcontent>0</productcontent>
            </sendbutton>
            <comments>
                <productcontent>0</productcontent>
                <num_posts>2</num_posts>
                <width>600</width>
            </comments>
            <activity>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>190</width>
                <height>200</height>
                <header>1</header>
                <border_color>#C4C1BC</border_color>
                <recommendations>1</recommendations>
            </activity>
            <recommendations>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>190</width>
                <height>200</height>
                <header>1</header>
                <border_color>#C4C1BC</border_color>
            </recommendations>
            <likebox>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>190</width>
                <show_faces>1</show_faces>
                <border_color>#C4C1BC</border_color>
                <stream>1</stream>
                <header>1</header>
            </likebox>
            <facepile>
                <homecontent>0</homecontent>
                <categorycontent>0</categorycontent>
                <productcontent>0</productcontent>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <url>currentpage</url>
                <size>large</size>
                <width>190</width>
                <max_rows>10</max_rows>
            </facepile>
            <livestream>
                <lefthomecolumn>0</lefthomecolumn>
                <righthomecolumn>0</righthomecolumn>
                <leftcategorycolumn>0</leftcategorycolumn>
                <rightcategorycolumn>0</rightcategorycolumn>
                <leftproductcolumn>0</leftproductcolumn>
                <rightproductcolumn>0</rightproductcolumn>
                <width>190</width>
                <height>300</height>
                <xid></xid>
                <always_post_to_friends>0</always_post_to_friends>
            </livestream>
            
            
        </facebook>
    </default>
</config>
