<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <All4coding_Core>
            <version>1.2.1</version>
        </All4coding_Core>
    </modules>
    <global>
        <helpers>
            <all4coding_core>
                <class>All4coding_Core_Helper</class>
            </all4coding_core>
        </helpers>
        <models>
            <all4coding_core>
                <class>All4coding_Core_Model</class>
            </all4coding_core>
            <catalog_resource>
                <rewrite>
                    <product_collection>All4coding_Core_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <all4coding_core>
                <class>All4coding_Core_Block</class>
            </all4coding_core>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <all4coding_core module="All4coding_Core">
                    <file>all4coding/core.xml</file>
                </all4coding_core>
            </updates>
        </layout>
        <translate>
            <modules>
                <All4coding_Core>
                    <files>
                        <default>All4coding_Core.csv</default>
                    </files>
                </All4coding_Core>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <all4coding_core>
                    <file>all4coding/core.xml</file>
                </all4coding_core>
            </updates>
        </layout>
        <translate>
            <modules>
                <All4coding_Core>
                    <files>
                        <default>All4coding_Core_Admin.csv</default>
                    </files>
                </All4coding_Core>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <all4coding_notification>
                        <class>all4coding_core/observer</class>
                        <method>preDispatch</method>
                    </all4coding_notification>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <a4c_core>
            <notification>
                <feed_enabled>1</feed_enabled>
                <feed_url>www.all4coding.com/notifications.xml</feed_url>
                <use_https>0</use_https>
                <frequency>1</frequency>
                <last_update>0</last_update>
            </notification>
            <general>
                <load_jquery>1</load_jquery>
            </general>
        </a4c_core>
    </default>
</config>