<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--
    /**
     * @category     Inchoo
     * @package     Inchoo Featured Products
     * @author        Domagoj Potkoc, Inchoo Team <web@inchoo.net>
     * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
     */
    -->
    <modules>
        <Inchoo_PendingProducts>
            <version>2.0.0</version>
        </Inchoo_PendingProducts>
    </modules>

    <global>
        <blocks>
            <inchoo_pendingproducts>
                <class>Inchoo_PendingProducts_Block</class>
            </inchoo_pendingproducts>
        </blocks>

        <helpers>
            <inchoo_pendingproducts>
                <class>Inchoo_PendingProducts_Helper</class>
            </inchoo_pendingproducts>
        </helpers>

        <models>
            <inchoo_pendingproducts>
                <class>Inchoo_PendingProducts_Model</class>
            </inchoo_pendingproducts>
        </models>

        <resources>
            <inchoo_pendingproducts_setup>
                <setup>
                    <module>Inchoo_PendingProducts</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </inchoo_pendingproducts_setup>

            <inchoo_pendingproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inchoo_pendingproducts_write>
            <inchoo_pendingproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inchoo_pendingproducts_read>
        </resources>
    </global>

    <frontend>
        <routers>
            <inchoo_pendingproducts>
                <use>standard</use>
                <args>
                    <module>Inchoo_PendingProducts</module>
                    <frontName>featured-products</frontName>
                </args>
            </inchoo_pendingproducts>
        </routers>
        <layout>
            <updates>
                <inchoo_pendingproducts>
                    <file>inchoofeaturedproducts.xml</file>
                </inchoo_pendingproducts>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <inchoo_pendingproducts before="Mage_Adminhtml">Inchoo_PendingProducts_Adminhtml</inchoo_pendingproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <inchoo_pendingproducts>
            <general>
                <active>0</active>
                <price_visible>1</price_visible>
            </general>
            <cmspage>
                <heading_block>Featured Products</heading_block>
                <product_sort_by>random</product_sort_by>
                <number_of_items>5</number_of_items>
                <number_of_items_per_row>3</number_of_items_per_row>
                <max_image_dimension>80</max_image_dimension>
            </cmspage>
            <standalone>
                <heading>Featured Products</heading>
                <layout>two_columns_right</layout>
                <meta_title>Featured Products</meta_title>
                <meta_description>Check out our great collection of Featured products</meta_description>
                <meta_keywords>featured, products</meta_keywords>
            </standalone>
        </inchoo_pendingproducts>
    </default>
</config>