<?xml version="1.0"?>
<config>
    <modules>
        <Shailendra_CustomField>
            <version>0.1.0</version>
        </Shailendra_CustomField>
    </modules>
    <frontend>
        <routers>
            <customfield>
                <use>standard</use>
                <args>
                    <module>Shailendra_CustomField</module>
                    <frontName>customfield</frontName>
                </args>
            </customfield>
        </routers>
        <layout>
            <updates>
                <customfield>
                    <file>customfield.xml</file>
                </customfield>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <customfield>
                <use>admin</use>
                <args>
                    <module>Shailendra_CustomField</module>
                    <frontName>customfield</frontName>
                </args>
            </customfield>
        </routers>
    </admin>
    <global>
     <fieldsets>
        <customer_account>
            <mobile>
                <to_quote>mobile</to_quote>
            </mobile>
        </customer_account>      
      </fieldsets>
    </global>
    <global>
        <fieldsets>
            <customer_account>
                 <mobile><create>1</create><update>1</update><name>1</name></mobile>
            </customer_account>
        </fieldsets>
    </global>
    <global>
        <resources>
            <customfield_setup>
                <setup>
                    <module>Shailendra_CustomField</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customfield_setup>
            <customfield_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customfield_write>
            <customfield_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customfield_read>
        </resources>
    </global>
</config>